<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Tahoe</title>
    <link rel="stylesheet" href="/vendor/ionic/css/ionic.css"/>
    <link rel="stylesheet" href="/stylesheets/application.css"/>

    <link href="/stylesheets/fonts-add.css" rel="stylesheet">

    <script src="/components/jquery/jquery.js"></script>

    <script src="http://localhost/cordova.js"></script>

    <script src="/components/steroids-js/steroids.js"></script>

    <script src="/vendor/ionic/ionic.bundle.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>

    <script src="/components/underscore/underscore-min.js"></script>
    <script src="/components/restangular/dist/restangular.min.js"></script>

    <script src="/controllers/app.js"></script>
    <script src="/controllers/app-routes.js"></script>
    <script src="/controllers/controllers.js"></script>
    <script src="/controllers/services.js"></script>
</head>
<body ng-app="skeletonApp">

<ion-nav-view></ion-nav-view>

</body>
</html>
